form {
	span.question {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		display: inline-block;
		width: 10px;
		height: 10px;
		background-image: url('/trend/images/question.gif');
	}
	legend {
		margin-top: 0.2em;
		margin-bottom: 0.1em;
	}
	.ui-widget-content .ui-state-error {
		border: none;
		background: none;
	}
	hr {
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	font-family: Verdana;
	font-size: 10px;
	legend {
		font-family: Verdana;
		font-size: 10px;
		font-weight: bold;
	}
	width: 540px;
	.ui-widget,.ui-widget-content,.ui-widget-header {
		font-family: Verdana;
		font-size: 10px;
	}
	fieldset {
		border: none;
	}
    ul#tabs.ui-tabs-nav.ui-widget-header {
		background: none;
		border: none;
		li.ui-state-default {
			border: none;
			background: none;
			border-top: solid 1px black;
			border-left: solid 1px black;
			background-color: #efefe1;
			a {
				color: black;
				padding:  0.25em 0.5em;
			}
			&.ui-tabs-selected {
				background-color: #ddddc5;
				a {
					color: red;
					font-weight: bold;
				}
			}
		}
	}
	div.ui-tabs-panel.ui-widget-content {
		border: solid 1px black;
		padding: 1em;
		border-top: solid 5px #ddddc5;
	}
	ul {
		list-style: none;
	}
	div.float {
		display: inline-block;
		width: 230px;
		float: left;
	}
	div.clear {
		clear: both;
		display: block;
		width: 230px;
	}
	.bold {
		font-weight: bold;
	}
	label.time {
		width: 4em;
		display: inline-block;
		text-align: center;
	}
	div > div {
		padding-left: 2em;
	}
}
